@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-box {
    background-color: white;
    box-shadow: 0 0 5px 1px white;
}

:root {
    --color-blue: #58a8a8;
    --color-green: #3d683a;
    --color-red: #a23546;
}

.menu-item:hover {
    min-width: max-content;
        &.blue {
            color: var(--color-blue
            )
        }
    
        &.green {
            color: var(--color-green
            )
        }
    
        &.red {
            color: var(--color-red
            )
        }
   
}

